@CHARSET "UTF-8";
@IMPORT url("reveal.js-2.5.0/css/reveal.min.css");
@IMPORT url("reveal.js-2.5.0/css/theme/sky.css");
@IMPORT url("reveal.js-2.5.0/lib/css/zenburn.css");

dl {
	text-align: justify;
}

dt {
	margin-top: 0.5em !important;
	font-style: italic;
	list-style: disc;
	display: list-item;
}

dd {
	margin-left: 1em !important;
	font-size: 90% !important;
}

article {
	text-align: justify;
}

article > header {
	color: #333333;
    font-family: "Quicksand",sans-serif;
    letter-spacing: -0.08em;
    line-height: 0.9em;
    margin: 0 0 20px;
    text-shadow: none;
    text-transform: uppercase;
	font-size: 1.3em;
	margin-bottom: 0.5em !important;
	border-bottom: thin solid rgb(180,180,180)!important;
}

figure > figcaption {
	text-align: left;
	font-size: 80% !important;
	color: rgb(59, 117, 158);
	padding-bottom: 0px !important;
}

blockquote:before {
	content: "\00201C";
}

blockquote:after {
	content: "\00201D";
}

nav {
	text-align: right;
	font-size: 0.5em !important;
	margin: 0.3em !important;
}

a.download {
	background-image: url('assets/images/download.png');
	background-size:1.3em;
	background-repeat: no-repeat;
	padding-left: 1.4em;
}
