@CHARSET "UTF-8";

dl {
	text-align: justify;
}

dt {
	margin-top: 0.5em !important;
	font-style: italic;
	list-style: disc;
	display: list-item;
}

dd {
	margin-left: 1em !important;
	font-size: 90% !important;
}

figure > figcaption {
	text-align: left;
	font-size: 80% !important;
	color: rgb(59, 117, 158);
	padding-bottom: 0px !important;
}

blockquote:before {
	content: "\00201C";
}

blockquote:after {
	content: "\00201D";
}