@CHARSET "UTF-8";
@IMPORT url("reveal.js-2.5.0/css/reveal.min.css");
@IMPORT url("reveal.js-2.5.0/css/theme/sky.css");
@IMPORT url("reveal.js-2.5.0/lib/css/zenburn.css");

.reveal h1.small {
	font-size: 40pt;
}

.reveal .copyright {
	font-size: 18pt;
}

.reveal dl {
	text-align: justify;
}

.reveal dt {
	margin-top: 0.5em;
	font-style: italic;
	list-style: disc;
	display: list-item;
}

.reveal dd {
	margin-left: 1em;
	font-size: 80%;
}

.reveal article {
	text-align: justify;
}

.reveal article > header {
	color: #333333;
    font-family: "Quicksand",sans-serif;
    letter-spacing: -0.08em;
    line-height: 0.9em;
    margin: 0 0 20px;
    text-shadow: none;
    text-transform: uppercase;
	font-size: 1.3em;
	margin-bottom: 0.5em;
	border-bottom: thin solid rgb(180,180,180);
}

blockquote>*:first-child:before {
	content: "\00201C";
}

blockquote>*:first-child:after {
	content: "\00201D";
}

blockquote>footer {
	text-align: right;
}

.reveal nav {
	text-align: right;
	font-size: 0.5em;
	margin: 0.3em;
}

a.download {
	background-image: url('images/download.png');
	background-size:1.3em;
	background-repeat: no-repeat;
	padding-left: 1.4em;
	margin-left:0.5em;
}

a.pdf {
	background-image: url('images/pdf.png');
	background-size:1.3em;
	background-repeat: no-repeat;
	padding-left: 1.4em;
	margin-left:0.5em;
}

.reveal figure{
	margin-top:0.5em;
	margin-bottom:0.5em;
}

.reveal figure > figcaption {
	text-align: left;
	font-size: 80%;
	color: rgb(100, 95, 120);
	padding-bottom: 0px;
}

.reveal figure > img {
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
	border:0px;
	padding: 0.2em;
	margin: auto;
	margin-left: 2em;
}

.reveal pre code {
    max-height: none;
}

.reveal figure > pre {
    margin-top: 0;
}

.reveal .summaryTable {
	margin-left: auto;
	margin-right: auto;
	min-width: 25em;
}

.reveal thead th {
	text-align: center;
}

.reveal tbody td {
	text-align: center;
}

.reveal th {
	font-weight: bold;
}

.reveal tbody tr:nth-child(odd) {
	background: #DDD;
}
