@CHARSET "UTF-8";
@IMPORT url("reveal.js-2.5.0/css/print/paper.css");
@IMPORT url("reveal.js-2.5.0/lib/css/googlecode.css");

.reveal nav {
	display:none;
}

.reveal .slides section.not-printable {
	display: none !important;
}

.reveal .slides>section>section {
	page-break-after: avoid !important;
}

.reveal pre {
	page-break-inside: avoid !important;
	box-shadow: none !important;
	margin-right: 1.5cm !important;
	border: thin solid rgb(180,180,180) !important;
}

.reveal img {
	page-break-inside: avoid !important;
	max-width: 18cm !important;
	margin-left:auto !important;
	margin-right:auto !important;
	box-shadow: none !important;
}

.reveal figure > figcaption {
	text-align: right;
	margin-right: 1.5cm !important;
	font-style: italic;
	font-size: 80%;
	color: black;
	padding-bottom: 0px;
	page-break-after: avoid !important;
}


.reveal a:not(.explicit):link:after,
.reveal a:not(.explicit):visited:after {
	content: " (" attr(href) ") ";
	color: #222 !important;
	font-size: 90%;
	word-break: break-all;
}

.reveal article > header {
	text-align: right;
}

.reveal section:first-of-type > article > header {
	margin-top: 5cm;
	margin-bottom: 2cm;
	font-size: 2em;
}

.reveal p {
	text-align: justify !important;
}

img {
	border: none !important;
}

.reveal .slides .title h1 {
	position:absolute;
	z-index:15;
	top:15cm;
	text-align: center;
	width: 100%;
	font-size: 40pt !important;
}

.reveal .slides .title .copyright {
	position:absolute;
	z-index:15;
	top:0cm;
	text-align: right !important;
	width: 100%;
	font-size: 12pt !important;
}
